<md-card>
  <md-list>
    <md-list-item *ngFor="let education of educations">
      <b md-line>{{education.field}} - {{education.school}}</b>
      <i md-line>{{months[education.startDate.month] + ' ' + education.startDate.year}} - {{education.endDate ? (months[education.endDate.month] + ' ' + education.endDate.year) : 'Present'}}</i>
      <span md-line>{{education.degree}}</span>
    </md-list-item>
  </md-list>
  <md-card-actions *ngIf="resumeService.editMode">
    <button md-button color="primary" (click)="newEducation()">ADD EDUCATION</button>
  </md-card-actions>
</md-card>
