<div class="section">
  <h1><mat-icon>school</mat-icon>Education</h1>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let education of educations">
        <h3 mat-line>{{ education.field }} - {{ education.school }}</h3>
        <p mat-line class="date-label">
          {{ months[education.startDate.month] + ' ' + education.startDate.year }} -
          {{ education.endDate ? months[education.endDate.month] + ' ' + education.endDate.year : 'Present' }}
        </p>
        <p mat-line>{{ education.degree ? education.degree : '-' }}</p>
        <button *ngIf="resumeService.editMode" mat-icon-button color="primary" (click)="editEducation(education)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="resumeService.editMode" mat-icon-button color="primary" (click)="deleteEducation(education)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-card-actions *ngIf="resumeService.editMode">
      <button mat-button color="primary" (click)="newEducation()">Add Education</button>
    </mat-card-actions>
  </mat-card>
</div>
