<md-card>
  <md-list>
    <md-list-item *ngFor="let position of positions">
      <img *ngIf="position.companyLogoUrl" md-list-avatar [src]="position.companyLogoUrl" alt="position.company">
      <h3 md-line>{{position.title}} - {{position.company}}</h3>
      <p md-line>{{months[position.startDate.month] + ' ' + position.startDate.year}} - {{position.endDate ? (months[position.endDate.month] + ' ' + position.endDate.year) : 'Present'}}</p>
      <p md-line>{{position.summary}}</p>
      <button md-icon-button color="primary" (click)="editPosition(position)">
        <md-icon>edit</md-icon>
      </button>
    </md-list-item>
  </md-list>
  <md-card-actions *ngIf="resumeService.editMode">
    <button md-button color="primary" (click)="newPosition()">Add Position</button>
  </md-card-actions>
</md-card>
