<div class="section">
  <h1><mat-icon>work</mat-icon>Work experience</h1>
  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let position of positions">
        <h3 mat-line>{{ position.title }} - {{ position.company }}</h3>
        <p mat-line class="date-label">
          {{ months[position.startDate.month] + ' ' + position.startDate.year }} -
          {{ position.endDate ? months[position.endDate.month] + ' ' + position.endDate.year : 'Present' }}
        </p>
        <p mat-line class="text-content">{{ position.summary ? position.summary : '-' }}</p>
        <button *ngIf="resumeService.editMode" mat-icon-button color="primary" (click)="editPosition(position)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="resumeService.editMode" mat-icon-button color="primary" (click)="deletePosition(position)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-card-actions *ngIf="resumeService.editMode">
      <button mat-button color="primary" (click)="newPosition()">Add Position</button>
    </mat-card-actions>
  </mat-card>
</div>
