<div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="text-center space-up-s">
        <div fxFlex><h1 style="margin-bottom:0">{{name}}</h1></div>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="text-center space-around">
        <div fxFlex>{{title}}</div>
    </div>

    <div class="text-center">
        <img *ngIf="profileUrl && profileUrl.length" class="profile-picture" [src]="profileUrl" alt="Profile picture">
        <mat-icon *ngIf="!profileUrl || !profileUrl.length" svgIcon="account-circle" class="profile-picture"></mat-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="social-media">
        <span *ngFor="let social of socials">
            <a *ngIf="social.url.length" [attr.href]="social.url"><mat-icon [svgIcon]="social.type.toLowerCase()"></mat-icon></a>
        </span>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="space-up">
        <div fxFlex="25" class="text-center">
            <mat-icon>person</mat-icon>
        </div>
        <div fxFlex><div class="description">{{description}}</div></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column" class="space-up" *ngIf="phone && phone.length">
        <div fxFlex="25" class="text-center">
            <mat-icon>phone</mat-icon>
        </div>
        <div fxFlex>{{phone}}</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column" class="space-up" *ngIf="email && email.length">
        <div fxFlex="25" class="text-center">
            <mat-icon>email</mat-icon>
        </div>
        <div fxFlex>{{email}}</div>
    </div>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="space-up">
        <div fxFlex="25" class="text-center">
            <mat-icon>settings</mat-icon>
        </div>
        <div fxFlex>
            <app-skill [skills]="skills">
            </app-skill>
        </div>
    </div>

    <div *ngIf="resumeService.editMode" class="actions">
        <button mat-raised-button color="primary" (click)="editSummary()">Edit profile</button>
        <input id="resumeFile" style="display:none" *ngIf="resumeService.editMode" type="file" accept="application/json" (change)="uploadResume($event)">
        <label for="resumeFile" class="mat-primary mat-raised-button">Upload Resume</label>
    </div>
</div>
