.profile-picture {
    border-radius: 200px;
    width: 200px;
    height: 200px;
}

.contact-info {
    margin-top: 40px;
}
.contact-info md-icon {
    vertical-align: middle;
}
.contact-info md-icon:not(:first-child) {
    margin-left: 20px;
}
