<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign="space-between stretch" fxLayoutWrap>
  <div *ngFor="let skill of skills" fxFlex="90">
    <span>{{skill.name}}</span>
    <button *ngIf="resumeService.editMode" mat-icon-button color="secondary" (click)="editSkill(skill)">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="resumeService.editMode" mat-icon-button color="secondary" (click)="deleteSkill(skill)">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-progress-bar class="skill-bar" color="primary" mode="determinate" value="{{skill.competence}}"></mat-progress-bar>
  </div>
</div>
<mat-card-actions *ngIf="resumeService.editMode">
  <button mat-button color="secondary" (click)="newSkill()">Add Skill</button>
</mat-card-actions>
