<md-card>
  <div class="row">
    <div *ngFor="let skill of skills" class="col-md-6 col-xs-12">
      <span>{{skill.name}}</span>
      <button *ngIf="resumeService.editMode" md-icon-button color="primary" (click)="editSkill(skill)">
        <md-icon>edit</md-icon>
      </button>
      <md-progress-bar class="skill-bar" mode="determinate" value="{{skill.competence}}"></md-progress-bar>
    </div>
  </div>
  <md-card-actions *ngIf="resumeService.editMode">
    <button md-button color="primary" (click)="newSkill()">Add Skill</button>
  </md-card-actions>
</md-card>
