<div class="section">
  <h1><mat-icon>trending_up</mat-icon>Projects</h1>
  <div *ngIf="resumeService.editMode">
    <button mat-raised-button color="primary" (click)="newProject()" *ngIf="resumeService.editMode">Add Project</button>
  </div>
  <div class="masonry">
    <div class="item" *ngFor="let project of projects">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            {{ months[project.startDate.month] + ' ' + project.startDate.year}} - {{project.endDate ? (months[project.endDate.month] + ' ' + project.endDate.year) : 'Present' }}
          </mat-card-subtitle>
          <mat-card-title>{{project.name}}</mat-card-title>
          <div class="project-logo">
            <img *ngIf="project.imageUrl" [src]="project.imageUrl">
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ project.description }}
          </p>
          <mat-chip-list>
            <mat-chip *ngFor="let tag of project.tags" color="primary" [selected]="tag.highlighted">
              {{tag.name}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" [href]="project.web" target="_project" *ngIf="project.web">Visit Page</a>
          <button mat-button color="primary" (click)="editProject(project)" *ngIf="resumeService.editMode"><mat-icon>edit</mat-icon></button>
          <button mat-button color="primary" (click)="deleteProject(project)" *ngIf="resumeService.editMode"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
