<div class="section">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutWrap>
    <md-card *ngFor="let project of projects" fxFlex="45">
      <md-card-header>
        <md-card-title>{{project.name}}</md-card-title>
        <md-card-subtitle>
          {{ months[project.startDate.month] + ' ' + project.startDate.year}} - {{project.endDate ? (months[project.endDate.month] + ' ' + project.endDate.year) : 'Present' }}
        </md-card-subtitle>
      </md-card-header>
      <img md-card-image [src]="project.imageUrl">
      <md-card-content>
        <p>
          {{ project.description }}
        </p>
      </md-card-content>
      <md-card-actions>
        <a md-button [href]="project.web" target="_project" *ngIf="project.web">Visit Page</a>
        <button md-button color="primary" (click)="editProject(project)" *ngIf="resumeService.editMode"><md-icon>edit</md-icon></button>
        <button md-button color="primary" (click)="deleteProject(project)" *ngIf="resumeService.editMode"><md-icon>delete</md-icon></button>
      </md-card-actions>
    </md-card>
  </div>

  <md-card *ngIf="resumeService.editMode">
    <button md-button color="primary" (click)="newProject()" *ngIf="resumeService.editMode">Add Project</button>
  </md-card>
</div>
