@import 'themes';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  background: #fafafa;
  &.dark {
    background: #303030;
    color: white;
  }
}

.footer {
  margin: 12px 0;
  float: right;
}

/** Helpers */
.text-center {
  text-align: center;
}
.space-up {
  margin-top: 24px;
}
.space-down {
  margin-bottom: 24px;
}
.space-down-s {
  margin-bottom: 12px;
}

/**  Core scss */
.app-content {
  width: 75%;
  margin: 0 auto;

  // Small grid breakpoint in flexbox-layout
  @media only screen and (max-width: 960px) {
    width: 100%;
    .summary {
      text-align: center;
      .description {
        width: 75%;
        margin: 0px auto;
      }
      .skill-bar {
        width: 75%;
        margin: 12px auto 36px auto;
      }
    }
    .profile-picture {
      border-radius: 300px;
      width: 300px !important;
      height: 300px !important;
    }
  }
  .section {
    margin: 24px;
    h1 {
      mat-icon {
        font-size: 36px;
        vertical-align: sub;
        margin-right: 24px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.date-container {
  margin: 25px 0 10px 0;
}
.date-container label {
  position: relative;
  bottom: 20px;
}
.skill-bar {
    margin-bottom: 36px;
    margin-top: 12px;
}
.theme-switch {
  position: fixed;
  top: 32px;
  right: 16px;
  width: 200px;
  z-index: 1;
}

/** Summary scss */
.summary {
  color: #fff;
  .actions {
    text-align: center;
  }
  .information-text {
    padding: 12px;
    font-weight: bold;
  }
}
.social-media {
  >.mat-icon {
    width: 48px;
    height: 48px;
  }
}
.profile-picture {
  border-radius: 200px;
  width: 200px !important;
  height: 200px !important;
}
.description {
  margin-right: 20px;
}
.contact-info {
  margin-top: 40px;
  mat-icon {
    vertical-align: middle;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

/** Masonry layout */
.masonry {
    column-count: 2;
    column-gap: 12px;
}

.item {
    display: inline-block;
    margin: 0 0 12px;
    width: 100%;
}

/** Material override */
[mat-button], [mat-raised-button], .mat-raised-button {
  text-transform: uppercase;
}
[mat-dialog-actions] {
  float: right;
}

.mat-card-header .mat-card-header-text {
  margin: 0;
  .mat-card-title {
    font-size: 16px;
  }
}

.mat-list {
  .mat-list-item {
    &:before {
      width: 5px;
      height: 5px;
      display: block;
      top: 30px;
      position: relative;
      left: -4px;
      border-radius: 5px;
      content: '';
    }
    p.mat-line {
      font-weight: 300;
    }
  }
}
