/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
    background: #eee;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.app-content {
  padding: 20px;
}

.app-content .section {
  width: 75%;
  margin: 20px auto;
}

.date-container {
  margin: 25px 0 10px 0;
}
.date-container label {
  position: relative;
  bottom: 20px;
}

/** Material override */
[md-button], [md-raised-button] {
  text-transform: uppercase;
}
[md-dialog-actions] {
  float: right;
}
