@import 'themes';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}


/** Helpers */
.text-center {
  text-align: center;
}
.space-up {
  margin-top: 24px;
}
.space-down {
  margin-bottom: 24px;
}

/**  Core scss */
.app-content {
  background: #fafafa;
  width: 70%;
  margin: 0 auto;

  // Small grid breakpoint in flexbox-layout
  @media only screen and (max-width: 960px) {
    width: 100%;
    .summary {
      text-align: center;
      .skill-bar {
        width: 75%;
        margin: 12px auto 36px auto;
      }
    }
  }
  &.dark {
    background: #303030;
  }
  .section {
    width: 75%;
    margin: 20px auto;
    h1 {
      md-icon {
        font-size: 36px;
        vertical-align: sub;
        margin-right: 24px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.date-container {
  margin: 25px 0 10px 0;
}
.date-container label {
  position: relative;
  bottom: 20px;
}
.skill-bar {
    margin-bottom: 36px;
    margin-top: 12px;
}
.neg-margin-24 {
  margin-left:-24px;
  margin-right:-24px;
}
.theme-switch {
  position: fixed;
  top: 32px;
  right: 16px;
  width: 200px;
}

/** Summary scss */
.summary {
  color: #fff;
  .actions {
    text-align: center;
  }
}
.profile-picture {
  border-radius: 200px;
  width: 200px !important;
  height: 200px !important;
}
.contact-info {
  margin-top: 40px;
  md-icon {
    vertical-align: middle;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

/** Material override */
[md-button], [md-raised-button], .mat-raised-button {
  text-transform: uppercase;
}
[md-dialog-actions] {
  float: right;
}

.mat-card-header .mat-card-header-text .mat-card-title {
  font-size: 24px;
}
