@import 'themes';

$sm-screen: 768px;
$md-screen: 1080px;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  background: #fafafa;
  &.dark {
    background: #303030;
    color: white;
  }
}

.footer {
  position: absolute;
  right: 24px;
  width: 100%;
  text-align: right;
  margin-top: -24px;
  @media only screen and (max-width: $sm-screen) {
    padding-top: 24px
  }
}

/** Helpers */
.text-center {
  text-align: center;
}
.space-around {
  padding: 12px;
}
.space-up {
  margin-top: 24px;
}
.space-up-s {
  margin-top: 12px;
}
.space-down {
  margin-bottom: 24px;
}
.space-down-s {
  margin-bottom: 12px;
}
.capitalize {
  text-transform: capitalize;
}

/**  Core scss */
.app-content {
  @media only screen and (max-width: $sm-screen) {
    width: 100%;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    @media only screen and (max-width: $sm-screen) {
      flex-flow: column wrap;
    }
    .title {
      margin-bottom:0;
      margin-top:24px;
    }
    .summary {
      flex: 1 1 30%;
    }
    .summary-info-container {
      display: flex;
      flex-direction: row;
      :first-child {
        flex: 0 1 25%;
      }
      :last-child {
        flex: 1 1;
      }
      @media only screen and (max-width: $sm-screen) {
        flex-direction: column;
        :first-child {
          flex-basis: 5%;
        }
      }
      .summary-skill-container {
        flex-flow: row wrap;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        >div {
          flex: 1 1 90%;
          max-width: 90%;
        }
        @media only screen and (max-width: $sm-screen) {
          flex-flow: column wrap;
          >div {
            flex-basis: 10%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .content {
    flex: 1 1 70%;
    max-width: 70%;
    @media only screen and (max-width: $sm-screen) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  .section {
    margin: 24px;
    h1 {
      mat-icon {
        font-size: 36px;
        width: 36px;
        height: 36px;
        vertical-align: sub;
        margin-right: 12px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .project-menu {
    position: absolute;
    right: -6px;
    top: 0;
    color: #BDBDBD;
  }
  .project-logo {
    flex: 1;
    text-align: right;
    img {
      height: 80px;
    }
  }
}
.date-container {
  margin: 25px 0 10px 0;
  >div {
    display: inline-block;
    >mat-select {
      width: 49%;
    }
  }
}
.date-container label {
  position: relative;
  bottom: 20px;
}
.mat-progress-bar.skill-bar {
    margin-bottom: 36px;
    margin-top: 12px;
    @media only screen and (max-width: $sm-screen) {
      width: 75%;
      margin: 12px auto 36px auto;
    }
}
.theme-switch {
  position: absolute;
  top: 16px;
  right: 16px;
  .mat-slide-toggle {
    margin-top: 8px;
  }
}
.theme-item-color {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 24px;
  vertical-align: middle;
  margin-right: 16px;
}

/** Summary scss */
.summary {
  color: #fff;
  .actions {
    text-align: center;
  }
  .information-text {
    padding: 12px;
    font-weight: bold;
  }
  @media only screen and (max-width: $sm-screen) {
    text-align: center;
    .mat-icon.material-icons {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }
  }
}
.social-media {
  a .mat-icon {
    color: #fff;
    width: 48px;
    height: 48px;
  }
}
.profile-picture {
  border-radius: 200px;
  width: 200px !important;
  height: 200px !important;
  margin: 12px 0;
  @media only screen and (max-width: $sm-screen) {
    border-radius: 300px;
    width: 300px !important;
    height: 300px !important;
  }
}
.description {
  margin-right: 20px;
  @media only screen and (max-width: $sm-screen) {
    width: 75%;
    margin: 0px auto;
  }
}
.contact-info {
  margin-top: 40px;
  mat-icon {
    vertical-align: middle;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

/** Masonry layout */
.masonry {
    column-count: 2;
    column-gap: 12px;
    @media only screen and (max-width: $sm-screen) {
      column-count: 1;
    }
}
.item {
    display: inline-block;
    margin: 0 0 12px;
    width: 100%;
}

/** Material override */
[mat-button], [mat-raised-button], .mat-raised-button {
  text-transform: uppercase;
}
[mat-dialog-actions] {
  float: right;
}
mat-slider.mat-slider {
  width: 100%;
}
mat-form-field.mat-form-field {
  width: 100%;
}
.mat-card .mat-card-header {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
  .mat-card-header-text {
    margin: auto 0;
    .mat-card-title {
      font-size: 16px;
      margin-bottom: 0px;
    }
    .mat-card-subtitle {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}

.mat-chip-list {
  .mat-chip:not(.mat-basic-chip) {
    margin: 2px;
    padding: 5px 12px;
    &+.mat-chip:not(.mat-basic-chip) {
      margin: 2px;
    }
  }
}

.mat-list {
  .mat-list-item {
    &:before {
      width: 5px;
      height: 5px;
      display: block;
      top: 30px;
      position: relative;
      left: -4px;
      border-radius: 5px;
      content: '';
    }
    p.mat-line {
      font-weight: 300;
      &.text-content {
        text-overflow: initial;
        overflow: visible;
        white-space: normal;
      }
    }
  }
}
