/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import '~flexboxgrid/css/flexboxgrid.min.css';

body {
    background: #eee;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}
