/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
    background: #eee;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-content .section {
  width: 75%;
  margin: 20px auto;
}

.date-container {
  margin: 25px 0 10px 0;
}
.date-container label {
  position: relative;
  bottom: 20px;
}

.neg-margin-24 {
  margin-left:-24px;
  margin-right:-24px;
}

/** Material override */
[md-button], [md-raised-button] {
  text-transform: uppercase;
}
[md-dialog-actions] {
  float: right;
}

.mat-card-header .mat-card-header-text .mat-card-title {
  font-size: 24px;
}
